---
import Container from '../core/Container.astro';
---

<Container>
    <section class="three-col-text__section">
      <div class="three-col-text__column">
        <slot name="column-1-body"></slot>
        <slot name="column-1-cta"></slot>
      </div>
      <div class="three-col-text__column">
        <slot name="column-2-body"></slot>
        <slot name="column-2-cta"></slot>
      </div>
      <div class="three-col-text__column">
        <slot name="column-3-body"></slot>
        <slot name="column-3-cta"></slot>
      </div>
    </section>
</Container>

<style>
.three-col-text__section {
  --column-count: 3;
  display: grid;
  grid-template-columns: repeat(var(--column-count), minmax(0, 1fr));
  gap: 2rem;
  margin: var(--section-margin) auto;
  text-align: center;
}

.three-col-text__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  h2 {
    display: inline-block;
    border-bottom: 2px solid var(--theme-accent);
    margin-bottom: 1rem;
  }
}

@media(max-width: 1200px) {
  .three-col-text__section {
    --column-count: 2;
  }
}

@media(max-width: 768px) {
  .three-col-text__section {
    --column-count: 1;
  }
}
</style>